.root {
    -fx-background-color: linear-gradient(to bottom, #003365, #002c57, #00254a, #001f3d, #011830);
    width: 100%;
    margin: 0;
    text-align: center;
}
.button {
    -fx-background-color: #fcfcfc;
    -fx-text-fill: #003365;
    -fx-font-size: 20;
}
.button:hover{
    -fx-background-color: #003365;
    -fx-text-fill: #fcfcfc;

}
.label {
    -fx-text-fill: #fcfcfc;
    -fx-font-family: "Helvetica Neue";
    -fx-font-size: 15;
}
#title {
    -fx-text-alignment: center;
    -fx-font-size: 40;
}

/* Question Screen CSS */
#prompt {
    -fx-text-alignment: center;
    -fx-font-size: 40;
    -fx-text-fill: #fcfcfc;
}