.root {
    -fx-padding: 100;
    -fx-background-color: linear-gradient(to bottom, #003365, #002c57, #00254a, #001f3d, #011830);
    width: 100%;
    margin: 0;
    text-align: center;
}

.label {
    -fx-font-family: "Helvetica Neue";
    -fx-font-size: 18;
    -fx-text-fill: #fcfcfc;
}

.button {
    -fx-background-color: #003365;
    -fx-text-fill: #fcfcfc;
}
.button:pressed {
    -fx-background-color: #002d5a;
}

#title {
    -fx-text-alignment: center;
    -fx-font-size: 68;
}

/* Start Screen CSS */
#directions {
    -fx-font-size: 24;
}

#adminButton {
    -fx-graphic: url("/images/SCSM_logo_white_sm.png");
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-text-fill:transparent;
}

#nameField {
    -fx-border-color: #fcfcfc;
    -fx-text-fill: #fcfcfc;
    -fx-border-width: 0 0 1 0; /* top, right, bottom, left*/
    -fx-background-color: transparent;
}

#emailField {
    -fx-border-color: #fcfcfc;
    -fx-text-fill: #fcfcfc;
    -fx-border-width: 0 0 1 0; /* top, right, bottom, left*/
    -fx-background-color: transparent;
}

#playButton, #button {
    -fx-font-size: 70;
}

#end, #score {
    -fx-font-size: 36.0;
}