.root {
    -fx-background-color: #fcfcfc;
}
.label {
    -fx-font-family: "Helvetica Neue";
}
#title {
    -fx-text-alignment: center;
    -fx-font-size: 40;
}

/* Question Screen CSS */
#prompt {
    -fx-text-alignment: center;
    -fx-font-size: 40;
}

/* Admin Overview Screen CSS */
#overviewTitle, #updateContentTitle, #editContentTitle{
    -fx-text-size: 40;
}
#dashboard, #exitText{
    -fx-font-size: 13;
}

#emailBox, #gamePlaysBox, #questionsBox, #timeBox, #HBox,
#numOfQuestionsBox, #numOfStrikesBox, #highScoresBox {
    -fx-border-color: Transparent;
    -fx-border-width: 2px;
    -fx-padding: 10;
}
#numOfQuestionsBox {
    -fx-padding: 5;
    -fx-alignment: CENTER;
}
#overviewPageButton, #updatePageButton, #editPageButton,
#exitProgramBox, #latestActivityBox{
    -fx-border-color: Transparent;
    -fx-border-width: 1px;
}
#activityList{
    -fx-font-size: 12;
}
#activityDateStamp, #activityTimeStamp{
    -fx-font-size: 11;
}

/* Admin Update Screen CSS */
#exportEmailsBox, #uploadQuestionsBox,
#uploadAdvertisementsBox, #selectAdvertisementsBox {
    -fx-border-color: Transparent;
    -fx-border-width: 1px;
}

#adminDashboard {
    -fx-font-family: "Helvetica Neue";
    -fx-font-size: 40;
}

/* Admin Edit Screen CSS */
#rotateHighScoresLabel {
    -fx-text-size: 13;
}
